<header class="main-header">
  <div class="left-section">
    <a routerLink="/" id="logo">wiriwiriwiri</a>
  </div>

  <div class="search-section">
    <input type="text" id="barra-buscadora" class="search-bar" placeholder="Buscar productos" />
  </div>

  <div class="right-section">
    <a href="#" (click)="abrirModalPerfil()">Admin</a>
    <a routerLink="/confirmar-pagos">Ver pagos por confirmar</a>
    <a routerLink="/registro-pagos">Registro de Pagos</a>
    <a href="#" (click)="cerrarSesion()">Cerrar sesión</a>
  </div>
</header>
